<div id="login-container">
</div>
<div class="ui grid">
    <div class="two wide column">
    <!-- Blank Space --> 
    </div>
    <div class="four wide column">
        <h4>ADD FRIENDS</h4>
        <p>Add the email of your friends you want to share your trip with</p>
        <div class="add-friends">
            <div class="ui input add">
                <input type="text" placeholder="Email or Username">
            </div>
            <button class="ui blue button">
                ADD
            </button>
            <div class="add-body">
                <p>Friends So Far:</p>
            </div>
        </div>
        <h4>ADD DESTINATION</h4>
        <p>Add the destinatons your trip is going to have</p>
        <div class="add-places">
            <p>Search for your place</p>
            <div class="ui fluid icon input add-place">
                <input type="text" placeholder="Destination Name">
                <i class="inverted circular search link blue icon"></i>
            </div>
            <div class="ui grid">
            <div class="eight wide column start-date">
                <p>Begin At:</p>
                <div class="ui icon input fluid">
                    <input type="text" placeholder="15/01/2016">
                    <i class="calendar icon">
                </div>
            </div>
            <div class="eight wide column end-date">
                <p>Leave At:</p>
                <div class="ui icon input fluid">
                    <input type="text" placeholder="27/02/2016">
                    <i class="calendar icon">
                </div>
            </div>
            <div class="sixteen wide column end-date">
                <p>We will travel with:</p>
                <div class="ui icon input fluid">
                    <input type="text" placeholder="Transportation">
                    <i class="plane icon">
                </div>
            </div>
            <div class="ten wide column end-date">
                <p>Estimated Cost:</p>
                <div class="ui icon input fluid">
                    <input type="text" placeholder="Cost">
                    <i class="euro icon">
                </div>
            </div>
            <div class="eight wide column end-date"> 
                <button class="ui green button fluid">
                    ADD PLACE
                </button>
            </div>
            </div>
        </div>
    </div>
<div class="ten wide column">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d295111.11422058253!2d24.972747426560392!3d54.69984791098937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1456406421655" width="853" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
