<div class="login-form">
    <form class="ui form">
        {{#if error && error != ''}}
        <div class="error">{{error}}</div>
        {{/if}}
        {{#if success && success != ''}}
        <div class="success">{{{success}}}</div>
        {{else}}
        <div class="register-title">
            <h2>Login</h2>
        </div>
        <div class="ui fluid left icon input">
            <i class="user icon"></i>
            <input type="text" id="username" value="{{.username}}" placeholder="Username"/>
        </div>
        <div class="ui fluid left icon input">
            <i class="lock icon"></i>
            <input type="password" value="{{.password}}" placeholder="Password"/>
        </div>
        <input type="button" class="fluid ui button" on-click="login" value="Submit"/>
        {{/if}}
    </form>
</div>
