<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Vote</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="This is a basic Node.js Application">
  <meta name="author" content="Plkost">
  <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/base.min.css">
</head>

<body>
  <div class="container"></div>
  <script src="/static/js/ractive.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/jquery-2.2.0.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
</body>
</html>
